<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="app:plugin-path" value="..\..\..\Plugins"/>
    <add key="web:wwwroot" value="..\..\..\WillCorp.App.Web\wwwroot"/>
    <add key="web:endpoint" value="http://localhost:9099"/>

    <add key="import:pickup-directory"  value="..\..\..\in"/>

    <add key="smtp:template.folder" value="..\..\..\email.templates"/>

    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:enrich:with-property:Application" value="ServiceHost-Demo" />
    <add key="serilog:enrich:with-property:Release" value="2018.8-dev" />
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="..\logs\service.host-{Date}.log" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
    <add key="serilog:using" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:Console" />

    <add key="scheduler:cron-expression-purgeimportfolderJob" value=" 0/30 0 * ? * *" />

  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>